:root{
  --bg-secondary: #040922;

  --white: #ffffff;

  --font-primary: 'Poppins-Regular';
  --font-primary-light: 'Poppins-Light';
  --font-primary-medium: 'Poppins-Medium';
  --font-primary-semibold: 'Poppins-Semibold';
}
